.grey {
    color: rgba(119, 119, 119, 1);
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
}

.title {
    color: #FF8B6A;
    font-size: 160%;
    margin-left: 10px;
}

.tanggal {
    color: #FF8B6A;
    margin-left: 10px;
}

.univ {
    color: #FF8B6A;
    font-weight: 500;
}

.bwah {
    margin-left: 37.9%;
}

.master {
    margin-top: -4%;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
}

.major {
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    margin-top: -4%;
}

.gpa {
    margin-top: -4%;
}

// .konten{
//     margin-left: 7%;
//     margin-top: 4%;
// }