// ini harus ilang
.mystudents,
.profil {
    display: none !important;
}

#pills-profile-tab,
#pills-mystudents-tab {
    display: none !important;
}

#pills-dashboard-tab {
    background-color: #F28C71 !important;
    border-radius: 10px;
    color: white !important;
}