/* layout navbar dan footer */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto, Nunito Sans', sans-serif;
}

.search {
    margin-top: 40px;
}

.form-bg {
    width: 60%;
    border: 15px solid #FCFCFC;
    border-radius: 15px;
    box-shadow: 1px 8px 10px beige;
}

.tambah {
    margin-top: 55px;
}

.tabel,
.edit,
.del {
    font-size: 11px !important;
    font-family: Roboto Regular;
}

.card-body {
    border: 15px solid #FCFCFC;
    border-radius: 15px;
    box-shadow: 1px 8px 10px beige;
}

.upload {
    cursor: pointer;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #FE5E31 !important;
    color: #FFFFFF !important;
    border: none;
}

// .custom-file-label {
//     width: 17.65%;
// }
// .custom-file-label::after {
//     border-radius: 16px;
// }
// .custom-file-input:lang(en)~.custom-file-label::after {
//     content: "UPLOAD" !important;
// }
.matric {
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #DCE6EB;
}

form {
    margin-block-end: 0;
}

.table.dataTable {
    margin-top: 10px !important;
    margin-bottom: 50px !important;
}

.popup-actived {
    -webkit-transition: .4s ease;
    transition: .4s ease;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
    opacity: 1 !important;
}

.popup-area {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -999999;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.popup-area .popup-inside {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

.list-students {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .box {
        display: flex;
        width: 100%;
        padding: 20px;
        border: 0.1px solid #FF8B6A;
        border-radius: .25rem;
        background-clip: border-box;
        // border: 1px solid rgba(0, 0, 0, 0.125);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
        transform: matrix(1, 0, 0, 1, 0, 0);
        .kiri {
            width: 38%;
            float: left;
            font-family: Roboto;
            h5.name {
                font-size: 25px;
                font-weight: bold;
            }
            p.age {
                font-size: 18px;
                font-family: Roboto Regular;
                span {
                    font-size: 20px;
                    font-family: Roboto;
                    font-weight: bolder;
                }
            }
            img.profil {
                width: 162px;
                height: 153px;
            }
            p.created_at {
                margin-bottom: 0;
                padding-top: 10px;
                white-space: nowrap;
                font-family: Roboto Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: rgba(146, 146, 146, 1);
            }
        }
        .tengah {
            width: 52%;
            float: left;
            .grades {
                width: 100%;
                float: left;
                padding-top: 20px;
                .icon {
                    width: 20%;
                    float: left;
                    img {
                        width: 46px;
                        height: 46px;
                    }
                }
                .content {
                    width: 80%;
                    float: left;
                    padding-left: 10px;
                    .title {
                        width: 100%;
                        span {
                            color: rgba(255, 139, 106, 1);
                            font-size: 20px;
                        }
                    }
                    .key {
                        width: 100%;
                        float: left;
                        .major {
                            width: 50%;
                            // margin-right: 0px !important;
                            float: left;
                            span {
                                white-space: nowrap;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                color: rgba(128, 128, 128, 1);
                                font-family: Roboto;
                            }
                        }
                        .value {
                            width: 50%;
                            // margin-right: 0px !important;
                            float: left;
                            padding-left: 20px;
                            span {
                                white-space: nowrap;
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                color: rgba(0, 0, 0, 1);
                            }
                        }
                    }
                }
            }
            .projects {
                width: 100%;
                float: left;
                padding-top: 30px;
                .icon {
                    width: 20%;
                    float: left;
                    img {
                        width: 46px;
                        height: 46px;
                    }
                }
                .content {
                    width: 80%;
                    float: left;
                    margin-top: 10px;
                    padding-left: 10px;
                    .title {
                        width: 100%;
                        span {
                            color: rgba(255, 139, 106, 1);
                            font-size: 20px;
                        }
                    }
                    .value {
                        width: 100%;
                        float: left;
                        span {
                            white-space: nowrap;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            color: rgba(0, 0, 0, 1);
                        }
                    }
                }
            }
        }
        .kanan {
            width: 10%;
            float: right;
            img {
                margin-left: 17px;
                width: 34px;
                height: 34px;
                cursor: pointer;
            }
        }
    }
}
