.jumbotron2 {
    background-image: url('../../public/uploads/img/bg-signup.jpg');
    background-size: 2000px 1400px;
    background-position: center;
    height: auto;
    margin-bottom: 0 !important;
}

.cardlogin {
    border: 5px solid #667E90;
    border-radius: 25px;
    width: 400px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.918);
}

.form-group {
    margin-bottom: 0px !important;
    input {
        border-radius: 15px;
        border: 1px solid #707070;
        box-shadow: 0 1px 2px #707070;
        margin-top: 20px;
        padding: 7px;
        outline: none;
    }
}

#judul {
    color: #667E90;
    margin-top: 5px;
}

.email_input {
    width: 100%;
    margin-top: 20px !important;
}

img.showpw {
    display: flex;
    margin-top: -29px;
    right: 510px;
    cursor: pointer;
    position: absolute;
    margin-right: 0 !important;
}

.form-check {
    padding-left: 0;
    padding: 20px;
}

#btn_signin {
    border-radius: 8px;
    margin: 20px 14.5%;
    width: 250px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

#btn_signup {
    color: #F7714C;
    text-decoration: underline;
    margin-left: 75px;
    margin-right: 75px;
}