// ini harus ilang
.mystudents,
.profil {
    display: none !important;
}

.nav {
    display: none;
}

#pills-profile-tab,
#pills-mystudents-tab,
#pills-dashboard-tab {
    display: none !important;
}

//  {
//     background-color: #F28C71 !important;
//     border-radius: 10px;
//     color: white !important;
// }