.list-konten{
    border-bottom: 2px solid gray;
    padding-top: 1%;
    padding-bottom: 1%;
}

.quality{
    border-right: 2px solid gray;
}

.date{
    margin-top: -5%;
    margin-right: 1%;
    float: left;
    font-size: 85%;
}

.qualit{
    float: left;
}

.view{
    font-size: 70%;
    color: gray;
    float: left;
    margin-left: 3%;
    margin-top: 1.5%;
}

.title{
    color: #FF8B6A;
    font-size: 80%;
}

.ket{
    font-size: 80%;
}

.tanpa{
    background-color: white !important;
    margin-left: 2% !important;
}

.row{
    flex-wrap: nowrap !important;
}

.nav-pills .nav-link{
    padding: 10px;
}

.nav-pills .nav-link:hover{
    background-color: gray;
    color: white;
    border-radius: 10px;
}

.nav-link:hover .title{
    color: white;
}

.nav-pills .nav-link.active{
    background-color: gray !important;
    border-radius: 10px;
}

.nav-pills .nav-link.active a{
    color: white;
    text-decoration: none;
}

.nav-pills .nav-link.active .title{
    color: white;
}

.tab-content>.active{
    background-color: white;
    color: black !important;
}

.search{
    margin-left: 10%;
    margin-top: 20px;
    background-color: whitesmoke;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    height: 9%;
}

.stat{
    float: left;
    margin-top: 1;
}

.form-control{
    width: 20% !important;
    float: left;
    margin-left: 5%;
    color: #FF8B6A !important;
    border-radius: 10px !important;
    box-shadow: 0px 1px 2px gray;
}

.atas{
    margin-top: -1.6%;
    margin-left: 5%;
}

.atas1{
    margin-top: -1% !important;
}

.sorted{
    font-size: 75%;
    margin-left: 8%;
    margin-top: -1%;
    float: left;
    color: #FF8B6A;
}

.sorted:hover{
    text-decoration: none;
    color: #FF8B6A;
}

.card{
    margin: 0 auto;
    padding: 50px;
    width: 800px;
    margin-top: 30px;
    border-radius: 1.25em !important;
    border: 0.1px solid #FF8B6A !important;
}

#btn{
    border-radius: 13px;
    margin-left: -40px;
    margin-right: 5px;
    width: 55%;
}

#btn1{
   border-radius: 13px;
   margin-top: 2px;
   margin-bottom: 5px;
   background-color: #439100;
   width: 55%;
}


#teks{
    margin-left: 0px;
    color: #929292;
}

.profil{
    margin-left: -13px;
}

.kiri{
    margin-left: 20px;
    float: left;
}

.teks{
    float: left;
    margin-top: 9px;
    margin-left: 5px;
    color: #F28C71;
}

.teks1{
   float: left;
   margin-top: 9px;
   margin-left: 11px;
   color: #F28C71;
}

.kanan{
    margin-left: 70px;
    margin-top: -10px;
    float: left;
}

.lamakerja{
    margin-left: 70px;
    float: left;
    margin-top: -15px;
}

#alamat{
   position: relative;
   margin-left: -25px;
}

#imglocation{
   float: right;
   margin-top: -40px;
}

#gaji{
   margin-top: -15px;
   margin-left: -25px;
}

#imgsalary{
   float: right;
   margin-top: -40px;
}

.btn-orange{
    background-color: #FF8B6A !important;
    color: white !important;
    width: 10% !important;
    float: left !important;
    margin-right: 45% !important;
    margin-top: -4% !important;
}

.btn-orange a{
    color: white;
}

.btn-orange a:hover{
    color: white;
    text-decoration: none;
}

.modal-footer{
    border-top: none !important;
}

.atas a{
    color: #FF8B6A;
}

.atas a:hover{
    color: #FF8B6A;
    text-decoration: none;
}

.modal-content{
    padding: 2%;
    margin-top: 40%;
}
