.cardlogin {
    margin: 0 auto;
    width: 40%;
    border: 2px solid #667E90;
    padding: 50px;
}

.bg {
    background-image: url('../../public/uploads/img/bg-signup.jpg');
    background-size: 80% 80%;
    background-size: center;
}
