@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;

0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);/* layout navbar dan footer */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto, Nunito Sans", sans-serif;
}

.search {
  margin-top: 40px;
}

.form-bg {
  width: 60%;
  border: 15px solid #FCFCFC;
  border-radius: 15px;
  box-shadow: 1px 8px 10px beige;
}

.tambah {
  margin-top: 55px;
}

.tabel,
.edit,
.del {
  font-size: 11px !important;
  font-family: Roboto Regular;
}

.card-body {
  border: 15px solid #FCFCFC;
  border-radius: 15px;
  box-shadow: 1px 8px 10px beige;
}

.upload {
  cursor: pointer;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #FE5E31 !important;
  color: #FFFFFF !important;
  border: none;
}

.matric {
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #DCE6EB;
}

form {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.table.dataTable {
  margin-top: 10px !important;
  margin-bottom: 50px !important;
}

.popup-actived {
  transition: 0.4s ease;
  z-index: 1000000000000000300000000000000000000000000000000000000000000000000000000000000000000 !important;
  opacity: 1 !important;
}

.popup-area {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: -999999;
  transition: 0.4s ease;
}

.popup-area .popup-inside {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.list-students {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.list-students .box {
  display: flex;
  width: 100%;
  padding: 20px;
  border: 0.1px solid #FF8B6A;
  border-radius: 0.25rem;
  background-clip: border-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.list-students .box .kiri {
  width: 38%;
  float: left;
  font-family: Roboto;
}

.list-students .box .kiri h5.name {
  font-size: 25px;
  font-weight: bold;
}

.list-students .box .kiri p.age {
  font-size: 18px;
  font-family: Roboto Regular;
}

.list-students .box .kiri p.age span {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bolder;
}

.list-students .box .kiri img.profil {
  width: 162px;
  height: 153px;
}

.list-students .box .kiri p.created_at {
  margin-bottom: 0;
  padding-top: 10px;
  white-space: nowrap;
  font-family: Roboto Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #929292;
}

.list-students .box .tengah {
  width: 52%;
  float: left;
}

.list-students .box .tengah .grades {
  width: 100%;
  float: left;
  padding-top: 20px;
}

.list-students .box .tengah .grades .icon {
  width: 20%;
  float: left;
}

.list-students .box .tengah .grades .icon img {
  width: 46px;
  height: 46px;
}

.list-students .box .tengah .grades .content {
  width: 80%;
  float: left;
  padding-left: 10px;
}

.list-students .box .tengah .grades .content .title {
  width: 100%;
}

.list-students .box .tengah .grades .content .title span {
  color: #ff8b6a;
  font-size: 20px;
}

.list-students .box .tengah .grades .content .key {
  width: 100%;
  float: left;
}

.list-students .box .tengah .grades .content .key .major {
  width: 50%;
  float: left;
}

.list-students .box .tengah .grades .content .key .major span {
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: gray;
  font-family: Roboto;
}

.list-students .box .tengah .grades .content .key .value {
  width: 50%;
  float: left;
  padding-left: 20px;
}

.list-students .box .tengah .grades .content .key .value span {
  white-space: nowrap;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: black;
}

.list-students .box .tengah .projects {
  width: 100%;
  float: left;
  padding-top: 30px;
}

.list-students .box .tengah .projects .icon {
  width: 20%;
  float: left;
}

.list-students .box .tengah .projects .icon img {
  width: 46px;
  height: 46px;
}

.list-students .box .tengah .projects .content {
  width: 80%;
  float: left;
  margin-top: 10px;
  padding-left: 10px;
}

.list-students .box .tengah .projects .content .title {
  width: 100%;
}

.list-students .box .tengah .projects .content .title span {
  color: #ff8b6a;
  font-size: 20px;
}

.list-students .box .tengah .projects .content .value {
  width: 100%;
  float: left;
}

.list-students .box .tengah .projects .content .value span {
  white-space: nowrap;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: black;
}

.list-students .box .kanan {
  width: 10%;
  float: right;
}

.list-students .box .kanan img {
  margin-left: 17px;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

