.jumbotron2 {
  background-image: url(/images/bg-signup.jpg?7472dd32d3eafb84c37adfe528975f91);
  background-size: 2000px 1400px;
  background-position: center;
  height: auto;
  margin-bottom: 0 !important;
}

.cardlogin {
  border: 5px solid #667E90;
  border-radius: 25px;
  width: 400px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.918);
}

.form-group {
  margin-bottom: 0px !important;
}

.form-group input {
  border-radius: 15px;
  border: 1px solid #707070;
  box-shadow: 0 1px 2px #707070;
  margin-top: 20px;
  padding: 7px;
  outline: none;
}

#judul {
  color: #667E90;
  margin-top: 5px;
}

.firstname {
  width: 40%;
}

.lastname {
  margin-top: 20px !important;
  width: 48%;
}

.email_input,
.institutions_input,
.phone_input {
  width: 100%;
  margin-top: 20px !important;
}

.form-check {
  padding-left: 0;
  padding: 20px;
}

#btn_signup {
  border-radius: 8px;
  margin: 20px 14.5%;
  width: 250px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

#btn_signin {
  color: #F7714C;
  text-decoration: underline;
  margin-left: 75px;
  margin-right: 75px;
}

img.showpw {
  display: flex;
  margin-top: -29px;
  right: 510px;
  cursor: pointer;
  position: absolute;
  margin-right: 0 !important;
}

/*style untuk popup */

#popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 99999999999;
  transition: all 1s;
}

.popup-container {
  box-sizing: border-box;
  max-width: 70%;
  position: relative;
  margin: 16% auto;
  padding: 35px 50px;
  background-color: #ffffff;
  border-radius: 10px;
}

.popup-container form {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/* style untuk isi popup */

.popup-form {
  text-align: center;
  box-sizing: border-box;
}

.popup-form span {
  font-size: 20px;
  font-family: Roboto Regular;
  color: #3D464D;
}

.popup-form p {
  font-size: 18px;
  font-family: Roboto Regular;
  color: #3D464D;
  margin-top: 20px;
}

.sukesregister {
  display: flex;
  padding-left: 183px;
  padding-right: 183px;
}

.sukesregister input {
  padding: 10px 70px;
  text-align: center;
  border-radius: 18px;
  font-size: 16px;
}

#send_again {
  margin-right: 20px;
}

#sign_in {
  margin-left: 20px;
}

.popup-form .sukesregister input:focus {
  outline-color: #667E90;
}

.popup-form .sukesregister input[type=submit] {
  background-color: #667E90;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.popup-form .sukesregister a {
  background-color: #667E90;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 10px 70px;
  text-align: center;
  border-radius: 18px;
  font-size: 16px;
}

.popup-form .sukesregister a:focus {
  outline-color: #667E90;
}

