.cardlogin {
  border: 2px solid #667E90;
  border-radius: 25px;
  width: 390px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.918);
}

.jumbotron2 {
  background-image: url(/images/bg-signup.jpg?7472dd32d3eafb84c37adfe528975f91);
  background-size: 2000px 1400px;
  background-position: center;
  height: auto;
  margin-bottom: 0 !important;
}

.btn {
  margin: 20px 18.5%;
  width: 250px;
}

#btn_signin {
  border-radius: 8px;
}

.form-group input {
  border-radius: 15px;
  border: 1px solid #707070;
  box-shadow: 0 1px 2px #707070;
  margin-top: 20px;
  padding: 7px;
}

#judul {
  color: #667E90;
  margin-top: 5px;
}

.first {
  width: 49%;
  float: left;
}

.last {
  margin-top: 12px !important;
  width: 49%;
  float: right;
  margin-bottom: 20px;
}

.email_input {
  width: 100%;
  margin-top: 20px !important;
}

.tombol {
  float: right;
  margin-top: -28px;
  margin-right: 10px;
  cursor: pointer;
}

